<!DOCTYPE html>
<html lang="sr" ng-app="kursrsApp">
  <head>
    <title>Kurs Rs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Parking Servis aplikacija">
    <meta name="keywords" content="Firefox OS, Serbia, Srbija, kurs, kursne liste">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/quine/firefoxOs.css">
    <link rel="stylesheet" href="../css/app/kursrs.css">
  </head>
  <body>
    <div ng-view id="main_container">Loading...</div>
    <script type="text/javascript" src="../js/libs/angular-1.4.8.min.js"></script>
    <script type="text/javascript" src="../js/libs/angular-route-1.4.8.min.js"></script>
    <script type="text/javascript" src="../js/libs/angular-local-storage-0.2.3.min.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/app.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/controllers/controllers.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/controllers/indexController.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/controllers/currencyController.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/controllers/instructionsController.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/controllers/aboutController.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/services/services.js"></script>
    <script type="text/javascript" src="../js/app/kursrs/services/ratesFactory.js"></script>
  </body>
</html>
