<h2>
  <img src="../images/quine/common-back.png" ng-click="vm.handleBack()"/>
  <p>
    O aplikaciji KursRs
  </p>
</h2>
<article>
  <p>
    Internet portal <a target="_blank" href="http://kurs.rs">kurs.rs</a> razvio je Vlada Grujic.
  </p>
  <p>
    Portal <a target="_blank" href="http://kurs.rs">kurs.rs</a> vam omogucava
    da saznate najsvezije prodajne i  kupovne kurseve za veliki broj menjacnica
    i banaka, da izracunate koliko bi vas kostala kupovina ili prodaja u
    izabranoj menjacnici ili banci kao i da saznate lokacije ekspozitura za
    izabranu menjacnicu ili banku.
  </p>
  <p>
    Aplikaciju za FirefoxOs razvio je Ivan Dejanovic
    (<a target="_blank" href="http://quineinteractive.com">Quine Interactive</a>).
  </p>
  <p>
    Aplikacija KursRs vam omogucava da na svom telefonu imate najsvezije kursne
    informacije sa portala <a target="_blank" href="http://kurs.rs">kurs.rs</a>.
  </p>
  <p>
    Verzija 1.2.2: Aplikacija prebacena na angular.
  </p>
  <p>
    Verzija 1.2.1: Popravljeno snimanje podataka na uredjaj.
  </p>
  <p>
    Verzija 1.2.0: Promenjene zavisnosti.
  </p>
  <p>
    Verzija 1.1.0: Optimizacija. Smanjena velicina aplikacije radi brzeg preuzimanja.
  </p>
  <p>
    Verzija 1.0.0: Prva verzija.
  </p>
</article>