<h2>
  <img src="../images/quine/common-back.png" ng-click="vm.handleBack()"/>
  <p>
    Uputstvo za koriscenje
  </p>
</h2>
<article>
  <p>
    Aplikacija omogucava korisniku da sazna prodajni i kupovni kurs
    EUR, USD i CHF valute velikog broja menjacnica i banaka u Srbiji.
    Pritiskom na osvezi podatke najsveziji podaci se preuzimaju sa interneta.
  </p>
  <p>
    Pritiskom na odgovarajucu valutu korisnik moze u tabeli da vidi prodajni
    i kupovni kurs za menjacnice i banke kao i kada je svaki kurs ponaosob
    promenjen. Podaci se cuvaju lokalno tako da je internet konekcija potrebna
    samo pri osvezavanju podataka.
  </p> 
</article>